In [1]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Import csv file
weather_data_df = pd.read_csv("weather_data/WeatherPy_challenge.csv")

In [3]:
weather_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
0,0,Butaritari,KI,2020-03-20 23:10:37,3.07,172.79,83.25,79,47,16.78,['scattered clouds'],0.00,0.0
1,1,Khatanga,RU,2020-03-20 23:10:38,71.97,102.50,-15.57,92,100,15.79,['overcast clouds'],0.00,0.0
2,2,Airai,TL,2020-03-20 23:10:38,-8.93,125.41,70.11,92,100,2.19,['light rain'],0.31,0.0
3,3,Atuona,PF,2020-03-20 23:10:38,-9.80,-139.03,81.99,80,69,15.46,['light rain'],0.19,0.0
4,4,Korla,CN,2020-03-20 23:10:38,41.76,86.15,34.83,39,17,4.50,['few clouds'],0.00,0.0

In [4]:
# Insert 2 new column named "rain" and "snow"
weather_data_df['rain'] = np.where(weather_data_df['Rain inches (last 3hrs)']!=0, 'yes', 'no')
weather_data_df['snow'] = np.where(weather_data_df['Snow inches (last 3hrs)']!=0, 'yes', 'no')

In [5]:
weather_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs),rain,snow
0,0,Butaritari,KI,2020-03-20 23:10:37,3.07,172.79,83.25,79,47,16.78,['scattered clouds'],0.00,0.0,no,no
1,1,Khatanga,RU,2020-03-20 23:10:38,71.97,102.50,-15.57,92,100,15.79,['overcast clouds'],0.00,0.0,no,no
2,2,Airai,TL,2020-03-20 23:10:38,-8.93,125.41,70.11,92,100,2.19,['light rain'],0.31,0.0,yes,no
3,3,Atuona,PF,2020-03-20 23:10:38,-9.80,-139.03,81.99,80,69,15.46,['light rain'],0.19,0.0,yes,no
4,4,Korla,CN,2020-03-20 23:10:38,41.76,86.15,34.83,39,17,4.50,['few clouds'],0.00,0.0,no,no

In [6]:
weather_data_df.count()

City_ID                    558
City                       558
Country                    552
Date                       558
Lat                        558
Lng                        558
Max Temp                   558
Humidity                   558
Cloudiness                 558
Wind Speed                 558
Current Description        558
Rain inches (last 3hrs)    558
Snow inches (last 3hrs)    558
rain                       558
snow                       558
dtype: int64

In [7]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain_1 = input("Do you want it to be raining? (yes/no) ")
snow_1 = input("Do you want it to be snowing? (yes/no) ")

What is the minimum temperature you would like for your trip? 55
What is the maximum temperature you would like for your trip? 77
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [8]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = weather_data_df.loc[(weather_data_df["Max Temp"] <= max_temp) & \
                                          (weather_data_df["Max Temp"] >= min_temp) & \
                                          (weather_data_df["rain"] == rain_1) & \
                                          (weather_data_df["snow"] == snow_1)] 
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs),rain,snow
5,5,Castro,BR,2020-03-20 23:07:48,-24.79,-50.01,63.63,96,0,8.41,['clear sky'],0.0,0.0,no,no
7,7,Chuy,UY,2020-03-20 23:10:39,-33.70,-53.46,64.35,81,11,4.65,['few clouds'],0.0,0.0,no,no
10,10,Itaituba,BR,2020-03-20 23:10:39,-4.28,-55.98,73.35,91,100,1.90,['overcast clouds'],0.0,0.0,no,no
15,15,Acarau,BR,2020-03-20 23:10:40,-2.89,-40.12,75.87,88,100,1.36,['overcast clouds'],0.0,0.0,no,no
16,16,Cape Town,ZA,2020-03-20 23:08:51,-33.93,18.42,64.99,88,20,4.70,['few clouds'],0.0,0.0,no,no
19,19,Atar,MR,2020-03-20 23:10:41,20.52,-13.05,65.07,26,0,8.66,['clear sky'],0.0,0.0,no,no
21,21,General Pico,AR,2020-03-20 23:10:41,-35.66,-63.76,70.11,39,0,9.82,['clear sky'],0.0,0.0,no,no
23,23,Busselton,AU,2020-03-20 23:10:41,-33.65,115.33,66.00,56,11,17.54,['few clouds'],0.0,0.0,no,no
30,30,Port Alfred,ZA,2020-03-20 23:10:42,-33.59,26.89,66.00,84,85,5.01,['overcast clouds'],0.0,0.0,no,no
32,32,Saint-Philippe,RE,2020-03-20 23:10:43,-21.36,55.77,71.60,64,70,8.05,['broken clouds'],0.0,0.0,no,no

In [9]:
preferred_cities_df.count()

City_ID                    200
City                       200
Country                    194
Date                       200
Lat                        200
Lng                        200
Max Temp                   200
Humidity                   200
Cloudiness                 200
Wind Speed                 200
Current Description        200
Rain inches (last 3hrs)    200
Snow inches (last 3hrs)    200
rain                       200
snow                       200
dtype: int64

In [10]:
preferred_cities_df = preferred_cities_df.drop(['rain','snow'], axis =1)

In [11]:
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
5,5,Castro,BR,2020-03-20 23:07:48,-24.79,-50.01,63.63,96,0,8.41,['clear sky'],0.0,0.0
7,7,Chuy,UY,2020-03-20 23:10:39,-33.70,-53.46,64.35,81,11,4.65,['few clouds'],0.0,0.0
10,10,Itaituba,BR,2020-03-20 23:10:39,-4.28,-55.98,73.35,91,100,1.90,['overcast clouds'],0.0,0.0
15,15,Acarau,BR,2020-03-20 23:10:40,-2.89,-40.12,75.87,88,100,1.36,['overcast clouds'],0.0,0.0
16,16,Cape Town,ZA,2020-03-20 23:08:51,-33.93,18.42,64.99,88,20,4.70,['few clouds'],0.0,0.0
19,19,Atar,MR,2020-03-20 23:10:41,20.52,-13.05,65.07,26,0,8.66,['clear sky'],0.0,0.0
21,21,General Pico,AR,2020-03-20 23:10:41,-35.66,-63.76,70.11,39,0,9.82,['clear sky'],0.0,0.0
23,23,Busselton,AU,2020-03-20 23:10:41,-33.65,115.33,66.00,56,11,17.54,['few clouds'],0.0,0.0
30,30,Port Alfred,ZA,2020-03-20 23:10:42,-33.59,26.89,66.00,84,85,5.01,['overcast clouds'],0.0,0.0
32,32,Saint-Philippe,RE,2020-03-20 23:10:43,-21.36,55.77,71.60,64,70,8.05,['broken clouds'],0.0,0.0

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Castro,BR,63.63,['clear sky'],-24.79,-50.01,
7,Chuy,UY,64.35,['few clouds'],-33.70,-53.46,
10,Itaituba,BR,73.35,['overcast clouds'],-4.28,-55.98,
15,Acarau,BR,75.87,['overcast clouds'],-2.89,-40.12,
16,Cape Town,ZA,64.99,['few clouds'],-33.93,18.42,
19,Atar,MR,65.07,['clear sky'],20.52,-13.05,
21,General Pico,AR,70.11,['clear sky'],-35.66,-63.76,
23,Busselton,AU,66.00,['few clouds'],-33.65,115.33,
30,Port Alfred,ZA,66.00,['overcast clouds'],-33.59,26.89,
32,Saint-Philippe,RE,71.60,['broken clouds'],-21.36,55.77,

In [13]:
# Import the dependencies.
import gmaps
import requests
# Import the API key.
from config import g_key

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Castro,BR,63.63,['clear sky'],-24.79,-50.01,CHACARA BAILLY
7,Chuy,UY,64.35,['few clouds'],-33.70,-53.46,Nuevo Hotel Plaza
10,Itaituba,BR,73.35,['overcast clouds'],-4.28,-55.98,Hotel Campos
15,Acarau,BR,75.87,['overcast clouds'],-2.89,-40.12,castelo pizzaria
16,Cape Town,ZA,64.99,['few clouds'],-33.93,18.42,Southern Sun Waterfront Cape Town
19,Atar,MR,65.07,['clear sky'],20.52,-13.05,Oumou Elghoura
21,General Pico,AR,70.11,['clear sky'],-35.66,-63.76,Hotel Malargue
23,Busselton,AU,66.00,['few clouds'],-33.65,115.33,Observatory Guest House
30,Port Alfred,ZA,66.00,['overcast clouds'],-33.59,26.89,The Halyards Hotel
32,Saint-Philippe,RE,71.60,['broken clouds'],-21.36,55.77,"Chambres d'hôte ""La Trinité"""

In [17]:
hotel_df.count()

City                   200
Country                194
Max Temp               200
Current Description    200
Lat                    200
Lng                    200
Hotel Name             200
dtype: int64

In [18]:
# Showing the habitable places on earth
# centered at lat = 30, long = 31
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a map of the vacation spots and marker layer for each city.
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current weather</dt><dd>{Current Description}</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a map of the vacation spots and marker layer for each city and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the hotel_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")